<body>
  <div class=row></div>
  <div class="col-sm-12">
    <div class="header"></div>
    <div class="container">
      <h1 class="display-3">Trivia Game</h1>
      <p class="lead"></p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div id="player1">
          <h2 id="user1" class="username1">Player 1</h2>
          <p class="scores">Score: <span class="score1">0</span></p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="container-fluid">
          <div id="question_container">
            <h1 id="question"></h1>
            <label class="element-animation1 btn btn-lg btn-dark btn-block"><span class="btn-label"><i
                  class="glyphicon glyphicon-chevron-right"></i></span>
              <input type="radio" name="q_answer" value="1" /><span id="a1"></span></label>
            <label class="element-animation2 btn btn-lg btn-dark btn-block"><span class="btn-label"><i
                  class="glyphicon glyphicon-chevron-right"></i></span>
              <input type="radio" name="q_answer" value="2" /><span id="a2"></span></label>
            <label class="element-animation3 btn btn-lg btn-dark btn-block"><span class="btn-label"><i
                  class="glyphicon glyphicon-chevron-right"></i></span>
              <input type="radio" name="q_answer" value="3" /><span id="a3"></span></label>
            <label class="element-animation4 btn btn-lg btn-dark btn-block"><span class="btn-label"><i
                  class="glyphicon glyphicon-chevron-right"></i></span>
              <input type="radio" name="q_answer" value="4" /><span id="a4"></span></label>
            <br>
            <button id="submit_button">Submit Your Answer!</button> <br> <br>
          </div>
        </div>
        <div class="">
          <div id="result_container">
            <h1 class=results> Game Over!! <br> The Results Are..</h1><br>
            <h3 class="username1">Player 1</h3>
            <p class="scores">Score: <span class="score1"></span></p> <br>
            <h3 class="username2">Player 2</h3>
            <p class="scores">Score: <span class="score2"></span></p>
            <h3 id="winner">Winner: </h3>
          </div>
        </div>
        <div class="waiting">
          <div id="waiting_container"></div>
          <h1 id="waiter"> Waiting For Other Players To Connect...</h1> <button id="start_button"
            class="btn btn-dark btn-lg">Start</button>
          <br> <br>
          <div class="tenor-gif-embed" data-postid="8119652" data-share-method="host" data-width="100%"
            data-aspect-ratio="1.518987341772152"><a href="https://tenor.com/view/ck77-waiting-gif-8119652">Toddler
              Bored GIF</a> from <a href="https://tenor.com/search/toddler-gifs">Toddler GIFs</a>
            <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div id="player2">
          <h2 id="user2" class="username2">Player 2</h2>
          <p class="scores">Score: <span class="score2">0</span></p>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</body>